body{
	background-color:#333;
}
.foto{
    height: 100px;
}
div.menu{
	background-color: #333;
}
div.menu1{
	text-align: center;
}
h2{
    color: white;
    text-align: center;
}
div.menu2{
	width: 100%;
    height: 50px;
    position: fixed;
}
.menuf{
	height: 50px;
    width: 100%;
}
img.logo{
	height: 15px;
	width: 15px;
}
div.topnav{
		background-color: black;
		overflow: hidden;
}
.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
.topnav a:hover {
	background-color: #ddd;
	color: black;
  }
  .topnav a.active {
	background-color: #4CAF50;
	color: white;
  }
  .topnav .icon {
	display: none;
  }
  @media screen and (max-width: 600px) {
	.topnav a:not(:first-child) {display: none;}
	.topnav a.icon {
	  float: right;
	  display: block;
	}
  }
  @media screen and (max-width: 600px) {
	.topnav.responsive {position: relative;}
	.topnav.responsive .icon {
	  position: absolute;
	  right: 0;
	  top: 0;
	}
	.topnav.responsive a {
	  float: none;
	  display: block;
	  text-align: left;
	}
  }
.his{
    color: white;
    text-align: center;
    font-size: medium;
}
#his1{
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
}
#herb{
    max-width: 100%;
    height: 50px;
    width: 50px;
}
.herb1{
    float: right;
}
#table{
	margin-left: auto;
	margin-right: auto;
	color: white;
	border-style: solid;
	border-width: 2px; 
	border-color: #4caf50;
}
tr{
	border-style: solid;
	border-width: 2px; 
	border-color: #4caf50;
}
td{
	border-style: solid;
	border-width: 2px; 
	border-color: #4caf50;
}
#more {display: none;}
  div.stopka{
	font-size:20px;
	background-color:#333;
	height:25px;
	border-style:solid;
	border-color: #4CAF50;
    text-align: right;
    color: white;
}